#boardSelecter{
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	min-height: 30px;

}

#boardList{
	
	width: 600px;
	min-height: 30px;
	margin-left: auto;
	margin-right: auto;

}

#boardList table{
	
	width: 600px;
}

#boardList .num{
	width: 50px;
	height:30px;
}

#boardList .time{
	width: 120px;
}

#boardList .place{
	
	width:120px;
}

#boardList .writer{
	width: 100px;
	height: 30px;
}
#boardList th{
	
	border-bottom: 1px solid grey;
}

#boardList a{
	text-decoration: none;
	color: black;
}

#boardList a:hover{
	color: grey;
}

#boardList table .title1{
	border-right: 1px solid grey;
	width: 70px;

}

#article{
	
	width:600px;
	min-height:150px;
	margin-left: auto;
	margin-right: auto;
	
}

#article table{
		width: 600px;
}

#article .writer,.title{
	height: 30px;
}

#article .content{
	height:50px;
}

#article table th{
	border-right: 1px solid grey;
	
}

#articleSelecter{
	
	width:600px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	

}

#articleSelecter table{

	width:600px;

}

#articleSelecter table td{
	text-align: center;
}

#reply{
	
	width:600px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

}
#reply table{
	width: 600px;
}
#reply table td{
	text-align: center;
	
}
#login{
	
	width:600px;
	min-height: 300px;
	margin-left: auto;
	margin-right: auto;
}
#festivalTable{
	width: 70%;   
   border-collapse: collapse;
   font-size: 12px;             
   line-height: 20px;   
   margin-left: 60px; 
}
#festivalTable td, th {
   border: #d3d3d3 solid 1px; 
   padding: 5px;              
}