@CHARSET "UTF-8";
body{
	background-color:#ffffff;
	margin:0;    
	padding:0;	
	font-size: 0.75em;
}
#wrap{
	width:971px;
	background-color:#ffffff;
	min-height:780px;
	margin:0;
	margin-left: auto;
	margin-right:auto;
}
#logo{
	float: left;
}
#logo img{
	width: 150px;
	height: 200px;
}

#user_menu{
	margin-top: 30px;
	padding-top: 10px;
	text-align: right;
	float: right;
	width: 560px;
	height:50px;

}

#clear{
	clear: both;
}
nav#top_menu{
	margin-top: 30px;
	margin-right: 20px;
	float: right;
	width: 800px;
	height: 50px;
	
}
nav#top_menu ul{
	list-style: none;	
}
nav#top_menu ul li{
	float: left;
	margin:0 5px;
}
nav#top_menu  a{
	text-decoration: none;
	color:#333;
	display: block;
	width: 120px;
	height: 20px;
	padding:10px;
	font-size: 20px;
	font-family:"휴먼편지체";
	font-weight:normal;
	text-align: center;
}
nav#top_menu  a:HOVER {
	background-image: url("../images/blue.gif");
	background-repeat:repeat-x;
	background-position:bottom;
}

footer{
	background-image: url("../images/footer_logo.png");
	background-repeat:no-repeat; 
	background-position: 40px center;
	height:80px;  
	margin-top:30px;
}
.clear{
	clear:both;
}
#copy{
	margin-left: 300px;
	margin-top: 20px;
	float:left;
	width:450px;
}
footer hr{
	width:900px;
}